@import "tailwindcss";
@config "../tailwind.config.js";
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/fonts/aeoniktrial-light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Aeonik";
  src: url("/public/fonts/aeoniktrial-regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Aeonik";
  src: url("/public/fonts/aeoniktrial-bold.otf") format("opentype");
  font-weight: 700;
}

body {
  font-family: "Aeonik", sans-serif;
}
:root {
  --color-primary: #ffa44c;
  --color-accent-pink: #fff6fd;
  
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f8f9fe;
  --color-neutral-200: #f0f0f0;
  --color-neutral-300: #efefef;
  --color-neutral-400: #eeeeee;
  --color-neutral-500: #cccccc;
  --color-neutral-700: #898888;
  --color-neutral-800: #73788C;
  --color-neutral-850: #727272;
  --color-neutral-900: #333333;

  --color-gradient-start: #D1068C;
  --color-gradient-middle: #1310A6;
  --color-gradient-end: #7E1B5C;
}
